<div class="center_page grid">
  <div class="row">
    <div class="span12"> <h1>Structured C Markup Language</h1></div>
  </div>
  
  <div class="row">
    <div class="span7">
      Cargar fichero <div class="input-control file"> <input type="file" id="examples" /> <button class="btn-file"></button> </div>
    </div> 
  </div>
  
  <div class="row">
    <div class="span6">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Código <strong>SCML</strong>
        </div>
        <div class="panel-content">
          <textarea id="input" name="input"  autofocus cols = "40" rows = "4">var a = 6*6 + b;</textarea>
        </div>
        <div class="panel-content">
          <button id="parse" type="button" class="success">Traducir</button>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Código <strong>HTML</strong> generado
        </div>
        <div class="panel-content">
          <textarea id="html_output" name="input"  autofocus cols = "40" rows = "4">&lt;img src="pepe"/&gt;</textarea>
        </div>
        <div class="panel-content">
          <button id="download" type="button" class="info">Descargar HTML</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Árbol AST generado
        </div>
        <div class="panel-content">
          <pre><span id="output">&lt;Vacío&gt;</span></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    // Generar un editor CodeMirror a partir del textarea INPUT (se borra y se reemplaza).
    var editor1 = CodeMirror.fromTextArea(document.getElementById("input"), {
      lineNumbers: true,
      theme: "neat",
      viewportMargin: Infinity,
      mode: "text/scml"
    });
	
    var editor2 = CodeMirror.fromTextArea(document.getElementById("html_output"), {
      lineNumbers: true,
      viewportMargin: Infinity,
	    readOnly: true,
      mode: "text/html"
    });
</script>

<script type="text/javascript" src="/code_generation.js"></script>
<script type="text/javascript" src="/scml.js"></script>
<script type="text/javascript" src="/main.js"></script>