<div class="center_page grid">
  <div class="row">
    <div class="span12"> <h1>Structured C Markup Language</h1></div>
  </div>
  
  <div class="row">
    <div class="span7">
      Cargar fichero <div class="input-control file"> <input type="file" id="examples" /> <button class="btn-file"></button> </div>
    </div> 
  </div>
  
  <div class="row">
    <div class="span7">
      Seleccionar un ejemplo
      <div class="input-control select">
        <select onchange="changeCombo(this);">
          <option value="HolaMundo.scml">Hola mundo</option>
          <option value="Portada.scml">Portada</option>
          <option value="Home.scml">Home (actual)</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span6">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Código <strong>SCML</strong>
        </div>
        <div class="panel-content">
          <textarea id="input" name="input" autofocus cols = "40" rows = "4">&lt;Vacío&gt;</textarea>
        </div>
        <div class="panel-content">
          <button id="parse" type="button" class="success">Traducir</button>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Código <strong>HTML</strong> generado
        </div>
        <div class="panel-content">
          <textarea id="html_output" name="input" autofocus cols = "40" rows = "4">&lt;Vacío&gt;</textarea>
        </div>
        <div class="panel-content">
          <button id="download" type="button" class="info">Descargar HTML</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="panel">
        <div class="panel-header bg-dark fg-white">
          Árbol AST generado
        </div>
        <div class="panel-content">
          <pre><span id="output">&lt;Vacío&gt;</span></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/code_generation.js"></script>
<script type="text/javascript" src="/scml.js"></script>
<script type="text/javascript" src="/main.js"></script>

<script>
    // Generar un editor CodeMirror a partir del textarea INPUT (se borra y se reemplaza).
    var editor1 = CodeMirror.fromTextArea(document.getElementById("input"), {
      lineNumbers: true,
      theme: "neat",
      viewportMargin: Infinity,
      mode: "text/scml"
    });
	
    var editor2 = CodeMirror.fromTextArea(document.getElementById("html_output"), {
      lineNumbers: true,
      viewportMargin: Infinity,
	    readOnly: true,
      mode: "text/html"
    });
    
    function dump(fileName) {
      $.get(fileName, function (data) {
		    editor1.setValue(data);
        run_parser();
      });
    };
    
    function changeCombo(element)
    {
      if(element.value == "")
        return;
      
      console.log("Leyendo fichero " + element.value);
      
      dump("examples/" + element.value);
    }
    
    dump("examples/HolaMundo.scml");
</script>

