<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>SCML</title>
  
    <link rel="icon" type="image/jpg" href="/favicon.png" />
    <link href="/css/iconFont.min.css" rel="stylesheet">
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.9.2.min.js"></script>
  
    <script src="/js/metro.min.js"></script>
  
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/pl0/pl0.js"></script>
  
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/css/metro-bootstrap.css">
  </head>
  <body class="metro" style="background-color: #333333;">
    <div style="text-align: center; vertical-align:middle; ">
	  Contenido
	</div>
  </body>
</html>
