<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>SCML</title>
  
    <link rel="icon" type="image/jpg" href="/images/favicon.png" />

    <link href="/css/iconFont.min.css" rel="stylesheet">
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.9.2.min.js"></script>
  
    <script src="/js/metro.min.js"></script>
  
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/pl0/pl0.js"></script>
  
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/css/metro-bootstrap.css">

    <link rel="stylesheet" href="/css/global.css">    
  </head>
  <body class="metro" style="background-color: #333333;">
    <div class="outerdiv">
      <a class="logo" style="cursor: pointer;" onclick="javascript: window.location = '/home';"></a>
      <p class="subtext header fg-white">Structured C Markup Language</p>
    </div>
    
    <div class="bottombar">
      <span class="left">Procesadores de Lenguajes, 2013-2014</span>
      <span class="right">Por <strong>Sergio Manuel Afonso Fumero</strong>, <strong>Cristo González Rodríguez</strong> y <strong>Daniel Herzog Cruz</strong></span>
    </div>
  </body>
</html>
