<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>SCML</title>
  
    <link rel="icon" type="image/jpg" href="/favicon.png" />
    <link href="/css/iconFont.min.css" rel="stylesheet">
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.9.2.min.js"></script>
  
    <script src="/js/metro.min.js"></script>
  
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/pl0/pl0.js"></script>
  
    <link rel="stylesheet" href="/lib/codemirror.css">
    <link rel="stylesheet" href="/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body class="metro" style="background-color: #ececec;">
    <header>
      <nav class="navigation-bar dark">
        <nav class="navigation-bar-content">
          <a class="element brand" href="/home"  title="Home">Home</a>
          <a class="element brand" href="/grammar"  title="Grammar">Gramática</a>
          <a class="element brand" href="/test" title="Pruebas">Pruebas</a>
          <span class="element-divider"></span>
          <a class="element brand" href="https://github.com/alu0100699494/SCML" title="Repo">Repositorio GitHub <span class="icon-github-2"></span></a>

          <!--
          <% if session[:auth] %>
            <div class="element place-right bg-red">
              <a class="fg-white" href="/logout"><span class="icon-cancel-2"></span> Salir </a>
            </div>
            <span class="element-divider"></span>
            <button class="element image-button image-left place-right">
              <a href="<%= session[:url] %>" target="_blank"><%= session[:name] %></a>
              <img src="<%= session[:image] %>">  
            </button>
          <% else %>
            <div class="element place-right bg-green">
              <a class="dropdown-toggle" href="#"><span class="icon-checkmark"></span> Iniciar sesión </a>
              <ul class="dropdown-menu  place-right" data-role="dropdown">
                <li><a href="/auth/google_oauth2"  title="Google">Google <span class="icon-google-plus"></a> </li>
                <li><a href="/auth/facebook" title="Facebook">Facebook <span class="icon-facebook"></span></a> </li>
              </ul> 
            </div>
          <% end %>
          -->
      </nav>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>

