<!-- Tests -->
<script type="text/javascript" src="/tests/chai.js"></script>
<script type="text/javascript" src="/tests/mocha.js"></script>
<script>mocha.setup('tdd')</script>
<script type="text/javascript" src="/scml.js"></script>
<script type="text/javascript" src="/code_generation.js"></script>
<script type="text/javascript" src="/tests/test.js"></script>


<div class="grid">
  <div class="row">
    <div class="span10 offset1"> 
      <div id="mocha"></div>
    
      <script>
        mocha.run();
      </script>
    </div>
  </div>
</div>