<!-- Tests -->
<script type="text/javascript" src="/tests/chai.js"></script>
<script type="text/javascript" src="/tests/mocha.js"></script>
<script>mocha.setup('tdd')</script>
<script type="text/javascript" src="/scml.js"></script>
<script type="text/javascript" src="/tests/test.js"></script>

<div id="mocha"></div>
    
<script>
  mocha.run();
</script>